# <font color='blue'>Python para Ciência de Dados</font>
# <font color='blue'>Capítulo 3</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python usada neste Jupyter Notebook:', python_version())

# Operações com números

In [ ]:
# comando para imprimir na tela
print("Olá Mundo")

In [17]:
# Adição
2 + 2

4

In [6]:
# Subtração
5 - 2

3

In [7]:
# Multiplicação
3 * 3

9

In [8]:
# Divisão
3 / 2

1.5

In [9]:
# Potência
5 ** 2

25

In [ ]:
# Módulo
7 % 3

## Função type()

In [13]:
# Conhecer o tipo de um número
type(5)

int

In [14]:
type(5.0)

float

In [16]:
# Conhecer o tipo de um objeto
a = 'Eu sou uma string'
type(a)

str

## Conversão

In [21]:
# Converte para número flutuante
float(5)

5.0

In [22]:
# Converte para número inteiro
int(8.2)

8

## Variáveis

In [23]:
# Atribuição de valores a variáveis
x = 10

y = 15

y = x

print(y)

10

## Operações com números flutuantes

In [24]:
4.3 + 7.5

11.8

In [25]:
6 + 3.0

9.0

In [27]:
# Resultado da divisão é um número float
10 / 2

5.0

In [29]:
# Agora o resultado é um número inteiro
10 // 2

5

In [31]:
# Dízimas
4 / 3.0

1.3333333333333333

In [33]:
# Truncando a dízima
4 // 3.0

1.0

## Conversão para Hexadecimal e Binário

In [35]:
hex(295)

'0x127'

In [36]:
bin(295)

'0b100100111'

## Função abs()

In [39]:
# Retorna o valor absoluto
abs(-5)

5

In [40]:
abs(5)

5

## Função round()

In [45]:
# Retorna o valor com arredondamento com 2 casas decimais
round(3.14159265359,2)

3.14

In [46]:
# Retorna o valor com arredondamento com 1 casa decimal
round(3.14159265359,1)

3.1

## Função pow()

In [47]:
# Potência de 5 elevado a 2
pow(5,2)

25

In [48]:
# Potência de 4 elevado a 3
pow(4,3)

64

## Operadores de Atribuição

In [53]:
# Atribuição simples
x = 10

print(x)

10

In [62]:
# Operador de Adição e Atribuição (+=)
x = 5

x += 5  # Equivalente a x = x + 5

print(x)

10

In [74]:
# Operador de Subtração e Atribuição (-=)
x = 7

x -= 3  # Equivalente a x = x - 3

print(x)

4

In [73]:
# Operador de Multiplicação e Atribuição (*=)
x = 3

x *= 2  # Equivalente a x = x * 2

print(x)

6

In [69]:
# Operador de Divisão e Atribuição (/=)
x = 8

x /= 4  # Equivalente a x = x / 4

print(x)

2.0

In [72]:
# Operador de Módulo e Atribuição (%=)
x = 14

x %= 3  # Equivalente a x = x % 3

print(x)

2

In [67]:
# Operador de Exponenciação e Atribuição (**=)
x = 5

x **= 2  # Equivalente a x = x ** 2

print(x)

25

In [70]:
# Operador de Divisão Inteira e Atribuição (//=)
x = 9

x //= 3  # Equivalente a x = x // 3

print(x)

3

# Funções Built-In

## Função Datetime

In [2]:
import datetime

In [5]:
# Obter data e hora atuais
agora = datetime.datetime.now()
print(agora)

2024-02-11 05:45:34.165177

In [4]:
# Criando um objeto de data e hora
data = datetime.datetime(2023, 12, 31)
hora = datetime.datetime(2023, 12, 31, 23, 59, 59)

In [6]:
# Acessando componentes de data e hora
print(agora.year)        # Ano
print(agora.month)       # Mês
print(agora.day)         # Dia
print(agora.hour)        # Hora
print(agora.minute)      # Minuto
print(agora.second)      # Segundo
print(agora.microsecond) # Microssegundo

2024
2
11
5
45
34
165177

In [7]:
# Formatando data ou hora como string
data_formatada = agora.strftime("%d/%m/%Y %H:%M:%S")
print(data_formatada)

11/02/2024 05:45:34

In [8]:
# Convertendo uma string em objeto de data ou hora
data_string = "2023-12-31"
data = datetime.datetime.strptime(data_string, "%Y-%m-%d")
print(data)

2023-12-31 00:00:00

In [13]:
# Diferença entre dias
d1 = datetime.date(2022, 8, 5)
print ('d1:', d1)

d2 = d1.replace(year=2023)
print ('d2:', d2)

d2 - d1

d1: 2022-08-05
d2: 2023-08-05

datetime.timedelta(days=365)

## Função Map

In [14]:
# Definindo uma função para calcular o quadrado de um número
def quadrado(x):
    return x * x

# Aplicando a função quadrado a cada elemento da lista usando map()
numeros = [1, 2, 3, 4, 5]
quadrados = map(quadrado, numeros)

# Convertendo o iterador em uma lista para ver os resultados
print(list(quadrados))  # Saída: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [19]:
# Função map() aplicada com funções lambda
numeros = [1, 2, 3, 4, 5]
quadrados = map(lambda x: x * x, numeros)
print(list(quadrados))  # Saída: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [16]:
# Passando múltiplas sequências para a função map()

# Definindo uma função para somar dois números
def soma(x, y):
    return x + y

# Aplicando a função soma a cada par de elementos das listas usando map()
numeros1 = [1, 2, 3]
numeros2 = [4, 5, 6]
soma_resultados = map(soma, numeros1, numeros2)

# Convertendo o iterador em uma lista para ver os resultados
print(list(soma_resultados))  # Saída: [5, 7, 9]

[5, 7, 9]

In [18]:
# Criando duas funções

# Função 1 - Recebe uma temperatura como parâmetro e retorna a temperatura em Fahrenheit
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

# Função 2 - Recebe uma temperatura como parâmetro e retorna a temperatura em Celsius
def celsius(T):
    return (float(5)/9)*(T-32)

# Criando uma lista
temperaturas = [0, 22.5, 40, 100]

# Função map() retornando a lista de temperaturas convertidas em Fahrenheit
f = list(map(fahrenheit, temperaturas))
print(f)

# Função map() retornando a lista de temperaturas convertidas em Celsius
c = list(map(celsius, temperaturas))
print(c)

[32.0, 72.5, 104.0, 212.0]
[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

## Função Reduce

In [20]:
from functools import reduce

# Definindo uma função para multiplicar dois números
def multiplicar(x, y):
    return x * y

# Lista de números
numeros = [1, 2, 3, 4, 5]

# Usando reduce() para encontrar o produto de todos os números
produto = reduce(multiplicar, numeros)
print(produto)  # Saída: 120 (1 * 2 * 3 * 4 * 5)

120

In [21]:
# Uso da função reduce() com funções lambda
numeros = [1, 2, 3, 4, 5]

# Usando reduce() com uma função lambda para encontrar o produto
produto = reduce(lambda x, y: x * y, numeros)
print(produto)  # Saída: 120

120

In [22]:
# Fornecendo um valor inicial para a função reduce()
from functools import reduce

numeros = [1, 2, 3, 4, 5]

# Usando reduce() com um valor inicial para encontrar a soma
soma = reduce(lambda x, y: x + y, numeros, 0)
print(soma)  # Saída: 15

15

In [23]:
# Atribuindo uma expressão lambda a uma variável

# Criando uma lista
lista = [59, 15, 101, 23]

max = lambda a,b: a if (a > b) else b

# Reduzindo a lista até o valor máximo, através da função lambda
reduce(max, lista)

101

In [26]:
# Atribuindo uma expressão lambda a uma variável

# Criando uma lista
lista = [59, 15, 101, 23]

min = lambda a,b: a if (a < b) else b

# Reduzindo a lista até o valor mínimo, através da função lambda
reduce(min, lista)

15

## Função Filter

In [27]:
# Função de filtro para verificar se um número é par
def eh_par(numero):
    return numero % 2 == 0

# Lista de números
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Usando filter() para filtrar os números pares
pares = filter(eh_par, numeros)

# Convertendo o iterador em uma lista para ver os resultados
print(list(pares))  # Saída: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [28]:
# Usando a função filter() com expressões lambda
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Usando filter() com uma função lambda para filtrar os números pares
pares = filter(lambda x: x % 2 == 0, numeros)
print(list(pares))  # Saída: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

## List Comprehension

In [29]:
# Usando List Comprehension para criar uma lista de números pares
pares = [x for x in range(1, 11) if x % 2 == 0]
print(pares)  # Saída: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [30]:
# Usando List Comprehension para criar uma lista de strings convertidas em maiúsculas
palavras = ["hello", "world", "python"]
maiusculas = [word.upper() for word in palavras]
print(maiusculas)  # Saída: ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']

In [31]:
# Usando List Comprehension para criar uma matriz
matriz = [[i * j for j in range(1, 4)] for i in range(1, 4)]
print(matriz)  # Saída: [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [33]:
# Retornar cada caracter em uma sequência de caracteres
lista = [x for x in 'Ciência de Dados']

lista

['C',
 'i',
 'ê',
 'n',
 'c',
 'i',
 'a',
 ' ',
 'd',
 'e',
 ' ',
 'D',
 'a',
 'd',
 'o',
 's']

In [36]:
# Convertendo Celsius para Fahrenheit
celsius = [0, 10, 32.5, 40]

fahrenheit = [ ((float(9) / 5) * temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 90.5, 104.0]

In [40]:
# Operações aninhadas com list comprehension
lista = [ x**2 for x in [x**2 for x in range(4)]] # 

lista

[0, 1, 16, 81]

## Função Enumerate

In [41]:
# Lista de cores
cores = ['vermelho', 'verde', 'azul']

# Usando enumerate() para iterar sobre a lista de cores
for indice, cor in enumerate(cores):
    print(f'Índice: {indice}, Cor: {cor}')

Índice: 0, Cor: vermelho
Índice: 1, Cor: verde
Índice: 2, Cor: azul

In [42]:
# Especificando um valor inicial
# Usando enumerate() com um valor inicial para os índices
for indice, cor in enumerate(cores, start=1):
    print(f'Índice: {indice}, Cor: {cor}')

Índice: 1, Cor: vermelho
Índice: 2, Cor: verde
Índice: 3, Cor: azul

In [43]:
# Criando uma lista
seq = ['a','b','c']

list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [44]:
# Imprimindo os valores da lista com a função enumerate() e seus respectivos índices
for indice, valor in enumerate(seq):
    print (indice, valor)

0 a
1 b
2 c

In [46]:
# Criando uma nova lista
tecnologias = ['Hadoop', 'Spark', 'Snowflake']

In [47]:
for i, item in enumerate(tecnologias):
    print(i, item)

0 Hadoop
1 Spark
2 Snowflake

In [48]:
# Iterando com strings
for i, item in enumerate('Spark é uma plataforma de Big Data'):
    print(i, item)

0 S
1 p
2 a
3 r
4 k
5
6 é
7
8 u
9 m
10 a
11
12 p
13 l
14 a
15 t
16 a
17 f
18 o
19 r
20 m
21 a
22
23 d
24 e
25
26 B
27 i
28 g
29
30 D
31 a
32 t
33 a

In [49]:
# Iterando em um range de valores
for i, item in enumerate(range(10)):
    print(i, item)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

## Função Zip

In [50]:
# Combinando sequências com o mesmo tamanho

# Listas de números e cores
numeros = [1, 2, 3]
cores = ['vermelho', 'verde', 'azul']

# Usando zip() para combinar as listas
for numero, cor in zip(numeros, cores):
    print(f'Número: {numero}, Cor: {cor}')

Número: 1, Cor: vermelho
Número: 2, Cor: verde
Número: 3, Cor: azul

In [51]:
# Combinando sequências com tamanhos diferentes

# Listas de números e cores
numeros = [1, 2, 3]
cores = ['vermelho', 'verde']

# Usando zip() com listas de comprimentos diferentes
for numero, cor in zip(numeros, cores):
    print(f'Número: {numero}, Cor: {cor}')

Número: 1, Cor: vermelho
Número: 2, Cor: verde

# Trabalhando com Strings

In [75]:
# Acessando caracteres
s = 'Python'

s[5]

'n'

In [77]:
s[0:5]

'Pytho'

In [78]:
s[0:6]

'Python'

In [79]:
# Concatenando strings
s1 = "Olá"
s2 = "mundo"
s3 = s1 + " " + s2
print(s3)

Olá mundo

In [80]:
# Comprimento da string
s = "Python"
print(len(s))

6

In [81]:
# Fatiando a string - slicing
s = "Python"
print(s[2:5])

tho

In [82]:
# Métodos de strings
s = "python"
print(s.upper())      # "PYTHON"
print(s.capitalize()) # "Python"
print(s.strip())      # "python" (remove espaços em branco extras no início e no final)

PYTHON
Python
python

In [83]:
# Formatando strings
nome = "João"
idade = 30
print(f"Meu nome é {nome} e tenho {idade} anos.")

Meu nome é João e tenho 30 anos.

In [1]:
print("""\
    Eu sou uma multiline string
    com várias linhas de saída.
""")

    Eu sou uma multiline string
    com várias linhas de saída.

# Fim