# <font color='blue'>Python para Ciência de Dados</font>
# <font color='blue'>Capítulo 4</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python usada neste Jupyter Notebook:', python_version())

Versão da Linguagem Python usada neste Jupyter Notebook: 3.10.12

## Listas

In [2]:
# Criando listas
minha_lista = [1, 2, 3, 4, 5]
outra_lista = ['a', 'b', 'c', 'd', 'e']
lista_mista = [1, 'a', 2, 'b', 3, 'c']

In [16]:
# Criando uma lista dinâmica com 15 elementos
numeros = list(range(15))

numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
# Acessando elementos
minha_lista = [10, 20, 30, 40, 50]
print(minha_lista[0])   # 10
print(minha_lista[2])   # 30

10
30

In [4]:
# Atualizando elementos
minha_lista = [1, 2, 3, 4, 5]
minha_lista[2] = 10
print(minha_lista)   # [1, 2, 10, 4, 5]

[1, 2, 10, 4, 5]

In [6]:
# Adicionando elementos
minha_lista = [1, 2, 3]
minha_lista.append(4)
print(minha_lista)   # [1, 2, 3, 4]

minha_lista.insert(1, 5)
print(minha_lista)   # [1, 5, 2, 3, 4] insere na posição 1 o elemento 5

[1, 2, 3, 4]
[1, 5, 2, 3, 4]

In [7]:
# Removendo elementos
minha_lista = [1, 2, 3, 4, 5]
minha_lista.remove(3)
print(minha_lista)   # [1, 2, 4, 5]

elemento_removido = minha_lista.pop(2)
print(elemento_removido)   # 4
print(minha_lista)   # [1, 2, 5]

[1, 2, 4, 5]
4
[1, 2, 5]

In [8]:
# Operações de listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista3 = lista1 + lista2
print(lista3)   # [1, 2, 3, 4, 5, 6]

lista4 = lista1 * 2
print(lista4)   # [1, 2, 3, 1, 2, 3]

print(2 in lista1)   # True
print(4 in lista1)   # False

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
True
False

## Dicionários

In [10]:
# Criando dicionário
meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

meu_dicionario

{'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

In [11]:
# Acessando valores
print(meu_dicionario['idade'])   # 30

30

In [12]:
# Adicionando e atualizando valores
meu_dicionario['profissao'] = 'Engenheiro'
print(meu_dicionario)   # {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo', 'profissao': 'Engenheiro'}

meu_dicionario['idade'] = 35
print(meu_dicionario)   # {'nome': 'João', 'idade': 35, 'cidade': 'São Paulo', 'profissao': 'Engenheiro'}

{'nome': 'João', 'idade': 30, 'cidade': 'São Paulo', 'profissao': 'Engenheiro'}
{'nome': 'João', 'idade': 35, 'cidade': 'São Paulo', 'profissao': 'Engenheiro'}

In [13]:
# Removendo pares chave-valor
del meu_dicionario['cidade']
print(meu_dicionario)   # {'nome': 'João', 'idade': 35, 'profissao': 'Engenheiro'}

valor_removido = meu_dicionario.pop('idade')
print(valor_removido)   # 35
print(meu_dicionario)   # {'nome': 'João', 'profissao': 'Engenheiro'}

{'nome': 'João', 'idade': 35, 'profissao': 'Engenheiro'}
35
{'nome': 'João', 'profissao': 'Engenheiro'}

In [14]:
# Métodos de dicionário
print(meu_dicionario.keys())     # dict_keys(['nome', 'profissao'])


print(meu_dicionario.values())   # dict_values(['João', 'Engenheiro'])


print(meu_dicionario.items())    # dict_items([('nome', 'João'), ('profissao', 'Engenheiro')])

print(meu_dicionario.get('idade', 'Chave não encontrada'))   # Chave não encontrada

dict_keys(['nome', 'profissao'])
dict_values(['João', 'Engenheiro'])
dict_items([('nome', 'João'), ('profissao', 'Engenheiro')])
Chave não encontrada

## Tuplas

In [17]:
# Criando tuplas
minha_tupla = (1, 2, 3, 4, 5)
outra_tupla = ('a', 'b', 'c', 'd', 'e')

In [18]:
# Acessando elementos
minha_tupla = (10, 20, 30, 40, 50)
print(minha_tupla[0])   # 10
print(minha_tupla[2])   # 30

10
30

In [19]:
# Fatiando tuplas
minha_tupla = (1, 2, 3, 4, 5)
print(minha_tupla[2:5])   # (3, 4, 5)

(3, 4, 5)

In [20]:
# Operações com tuplas
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla3 = tupla1 + tupla2
print(tupla3)   # (1, 2, 3, 4, 5, 6)

tupla4 = tupla1 * 2
print(tupla4)   # (1, 2, 3, 1, 2, 3)

print(2 in tupla1)   # True
print(4 in tupla1)   # False

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
True
False

In [21]:
# Desempacotamento de tuplas
minha_tupla = (10, 20, 30)
a, b, c = minha_tupla
print(a)   # 10
print(b)   # 20
print(c)   # 30

10
20
30

### Variáveis

In [23]:
# Atribuição de valores a variáveis
x = 10

y = 15

y = x

print(y)

10

### Operações com números flutuantes

In [24]:
4.3 + 7.5

11.8

In [25]:
6 + 3.0

9.0

In [27]:
# Resultado da divisão é um número float
10 / 2

5.0

In [29]:
# Agora o resultado é um número inteiro
10 // 2

5

In [31]:
# Dízimas
4 / 3.0

1.3333333333333333

In [33]:
# Truncando a dízima
4 // 3.0

1.0

### Conversão para Hexadecimal e Binário

In [35]:
hex(295)

'0x127'

In [36]:
bin(295)

'0b100100111'

### Função abs()

In [39]:
# Retorna o valor absoluto
abs(-5)

5

In [40]:
abs(5)

5

### Função round()

In [45]:
# Retorna o valor com arredondamento com 2 casas decimais
round(3.14159265359,2)

3.14

In [46]:
# Retorna o valor com arredondamento com 1 casa decimal
round(3.14159265359,1)

3.1

### Função pow()

In [47]:
# Potência de 5 elevado a 2
pow(5,2)

25

In [48]:
# Potência de 4 elevado a 3
pow(4,3)

64

### Operadores de Atribuição

In [53]:
# Atribuição simples
x = 10

print(x)

10

In [62]:
# Operador de Adição e Atribuição (+=)
x = 5

x += 5  # Equivalente a x = x + 5

print(x)

10

In [74]:
# Operador de Subtração e Atribuição (-=)
x = 7

x -= 3  # Equivalente a x = x - 3

print(x)

4

In [73]:
# Operador de Multiplicação e Atribuição (*=)
x = 3

x *= 2  # Equivalente a x = x * 2

print(x)

6

In [69]:
# Operador de Divisão e Atribuição (/=)
x = 8

x /= 4  # Equivalente a x = x / 4

print(x)

2.0

In [72]:
# Operador de Módulo e Atribuição (%=)
x = 14

x %= 3  # Equivalente a x = x % 3

print(x)

2

In [67]:
# Operador de Exponenciação e Atribuição (**=)
x = 5

x **= 2  # Equivalente a x = x ** 2

print(x)

25

In [70]:
# Operador de Divisão Inteira e Atribuição (//=)
x = 9

x //= 3  # Equivalente a x = x // 3

print(x)

3

## Trabalhando com Strings

In [75]:
# Acessando caracteres
s = 'Python'

s[5]

'n'

In [77]:
s[0:5]

'Pytho'

In [78]:
s[0:6]

'Python'

In [79]:
# Concatenando strings
s1 = "Olá"
s2 = "mundo"
s3 = s1 + " " + s2
print(s3)

Olá mundo

In [80]:
# Comprimento da string
s = "Python"
print(len(s))

6

In [81]:
# Fatiando a string - slicing
s = "Python"
print(s[2:5])

tho

In [82]:
# Métodos de strings
s = "python"
print(s.upper())      # "PYTHON"
print(s.capitalize()) # "Python"
print(s.strip())      # "python" (remove espaços em branco extras no início e no final)

PYTHON
Python
python

In [83]:
# Formatando strings
nome = "João"
idade = 30
print(f"Meu nome é {nome} e tenho {idade} anos.")

Meu nome é João e tenho 30 anos.

# Fim