# <font color='blue'>Python para Ciência de Dados</font>
# <font color='blue'>Capítulo 10</font>

In [21]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python usada neste Jupyter Notebook:', python_version())

Versão da Linguagem Python usada neste Jupyter Notebook: 3.10.12

## Banco de Dados

### SQLite3

In [22]:
import sqlite3

# Conectando-se ao banco de dados (será criado se não existir)
conn = sqlite3.connect('exemplo.db')

# Criando um cursor
cursor = conn.cursor()

# Criando uma tabela
cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios (id INTEGER PRIMARY KEY, nome TEXT, idade INTEGER)''')

# Inserindo dados
cursor.execute("INSERT INTO usuarios (nome, idade) VALUES (?, ?)", ("João", 30))

# Salvando as alterações
conn.commit()

# Consultando dados
cursor.execute("SELECT * FROM usuarios")
print(cursor.fetchall())

# Fechando a conexão
conn.close()

[(1, 'João', 30)]

In [23]:
import sqlite3

# Conectando-se ao banco de dados (será criado se não existir)
conn = sqlite3.connect('escola.db')

# Criando um cursor para executar comandos SQL
cursor = conn.cursor()

# Criando uma tabela
cursor.execute('''CREATE TABLE IF NOT EXISTS alunos (
                    id INTEGER PRIMARY KEY,
                    nome TEXT,
                    idade INTEGER
                )''')

# Inserindo dados
cursor.execute("INSERT INTO alunos (nome, idade) VALUES (?, ?)", ("João", 13))
cursor.execute("INSERT INTO alunos (nome, idade) VALUES (?, ?)", ("Maria", 11))

# Salvando as alterações
conn.commit()

# Consultando dados
cursor.execute("SELECT * FROM alunos")
for row in cursor.fetchall():
    print(row)

# Fechando a conexão
conn.close()

(1, 'João', 13)
(2, 'Maria', 11)

### SQLAlchemy

In [10]:
# Instala o pacote do SQLAlchemy
# !pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.27-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 18.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting typing-extensions>=4.6.0
  Using cached typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 kB 32.0 MB/s eta 0:00:00
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.27 typing-extensions-4.9.0

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: /usr/bin/python3 -m pip install --upgrade pip

In [24]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Criando uma engine para conectar ao banco de dados SQLite
engine = create_engine('sqlite:///teste.db', echo=True)

# Definindo uma classe de modelo
Base = declarative_base()

class Usuario(Base):
    __tablename__ = 'usuarios'
    id = Column(Integer, primary_key=True)
    nome = Column(String)
    idade = Column(Integer)

# Criando as tabelas no banco de dados
Base.metadata.create_all(engine)

# Criando uma sessão
Session = sessionmaker(bind=engine)
session = Session()

# Inserindo dados
usuario = Usuario(nome='Maria', idade=25)
session.add(usuario)
session.commit()

# Consultando dados
usuarios = session.query(Usuario).all()
for usuario in usuarios:
    print(usuario.nome, usuario.idade)

# Fechando a sessão
session.close()

2024-02-14 06:30:39,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-14 06:30:39,750 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuarios")
2024-02-14 06:30:39,750 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-14 06:30:39,751 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usuarios")
2024-02-14 06:30:39,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-14 06:30:39,753 INFO sqlalchemy.engine.Engine
CREATE TABLE usuarios (
	id INTEGER NOT NULL,
	nome VARCHAR,
	idade INTEGER,
	PRIMARY KEY (id)
)


2024-02-14 06:30:39,753 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()

/tmp/ipykernel_1665030/679056253.py:9: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

2024-02-14 06:30:40,002 INFO sqlalchemy.engine.Engine COMMIT
2024-02-14 06:30:40,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-14 06:30:40,009 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?)
2024-02-14 06:30:40,009 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ('Maria', 25)
2024-02-14 06:30:40,012 INFO sqlalchemy.engine.Engine COMMIT
2024-02-14 06:30:40,378 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-14 06:30:40,384 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
2024-02-14 06:30:40,385 INFO sqlalchemy.engine.Engine [generated in 0.00074s] ()
Maria 25
2024-02-14 06:30:40,387 INFO sqlalchemy.engine.Engine ROLLBACK

### Criando um banco de dados

In [25]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("produtos.db") if os.path.exists("produtos.db") else None

In [26]:
import sqlite3
 
# Criando uma conexão com o banco
conn = sqlite3.connect('produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2020-05-02 14:32:11', 'Teclado', 90 )")
    conn.commit()
    c.close()
    conn.close()

In [27]:
# Criar tabela
create_table()

In [28]:
# Inserir dados
data_insert()

### Inserindo Dados

In [29]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2020-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Mouse'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

In [30]:
# Gerando valores e inserindo na tabela
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [31]:
# Encerrando a conexão
c.close()
conn.close()

### Leitura dos dados

In [46]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2024', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura dos dados da tabela
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos na tabela
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 80.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicas
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])

In [47]:
# Selecionar os dados
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2024-02-14 09:25:48.977920', 'Mouse', 67.0)
(12, '2024-02-14 09:25:50.399565', 'Mouse', 63.0)
(13, '2024-02-14 09:25:51.785287', 'Mouse', 86.0)
(14, '2024-02-14 09:25:53.191649', 'Mouse', 99.0)
(15, '2024-02-14 09:25:54.543700', 'Mouse', 91.0)
(16, '2024-02-14 09:25:55.895541', 'Mouse', 91.0)
(17, '2024-02-14 09:25:57.291682', 'Mouse', 80.0)
(18, '2024-02-14 09:25:58.687839', 'Mouse', 89.0)
(19, '2024-02-14 09:26:00.095276', 'Mouse', 53.0)
(20, '2024-02-14 09:26:01.491591', 'Mouse', 50.0)

In [48]:
# Leitura de registros específicos apenas com valores superiores a 80
leitura_registros()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(13, '2024-02-14 09:25:51.785287', 'Mouse', 86.0)
(14, '2024-02-14 09:25:53.191649', 'Mouse', 99.0)
(15, '2024-02-14 09:25:54.543700', 'Mouse', 91.0)
(16, '2024-02-14 09:25:55.895541', 'Mouse', 91.0)
(18, '2024-02-14 09:25:58.687839', 'Mouse', 89.0)

In [49]:
# Leitura de colunas específicas. Seleciona a coluna dos valores
leitura_colunas()

90.0
67.0
63.0
86.0
99.0
91.0
91.0
80.0
89.0
53.0
50.0

### Update e Delete

In [63]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2024', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 90.0 AND prod_name = 'Teclado'")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 67.0")
    conn.commit()

In [64]:
atualiza_dados()

In [65]:
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 70.0)
(12, '2024-02-14 09:25:50.399565', 'Mouse', 63.0)
(13, '2024-02-14 09:25:51.785287', 'Mouse', 86.0)
(14, '2024-02-14 09:25:53.191649', 'Mouse', 99.0)
(15, '2024-02-14 09:25:54.543700', 'Mouse', 91.0)
(16, '2024-02-14 09:25:55.895541', 'Mouse', 91.0)
(17, '2024-02-14 09:25:57.291682', 'Mouse', 80.0)
(18, '2024-02-14 09:25:58.687839', 'Mouse', 89.0)
(19, '2024-02-14 09:26:00.095276', 'Mouse', 53.0)
(20, '2024-02-14 09:26:01.491591', 'Mouse', 50.0)

In [66]:
# Excluir dados
remove_dados()

In [67]:
# Nova leitura dos dados após exclusão
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 70.0)
(12, '2024-02-14 09:25:50.399565', 'Mouse', 63.0)
(13, '2024-02-14 09:25:51.785287', 'Mouse', 86.0)
(14, '2024-02-14 09:25:53.191649', 'Mouse', 99.0)
(15, '2024-02-14 09:25:54.543700', 'Mouse', 91.0)
(16, '2024-02-14 09:25:55.895541', 'Mouse', 91.0)
(17, '2024-02-14 09:25:57.291682', 'Mouse', 80.0)
(18, '2024-02-14 09:25:58.687839', 'Mouse', 89.0)
(19, '2024-02-14 09:26:00.095276', 'Mouse', 53.0)
(20, '2024-02-14 09:26:01.491591', 'Mouse', 50.0)

## Fim