# <font color='blue'>Python para Ciência de Dados</font>
# <font color='blue'>Capítulo 10</font>

In [21]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python usada neste Jupyter Notebook:', python_version())

Versão da Linguagem Python usada neste Jupyter Notebook: 3.10.12

## Banco de Dados

### SQLite3

In [2]:
import sqlite3

# Conectando-se ao banco de dados (será criado se não existir)
conn = sqlite3.connect('databases/exemplo.db')

# Criando um cursor
cursor = conn.cursor()

# Criando uma tabela
cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios (id INTEGER PRIMARY KEY, nome TEXT, idade INTEGER)''')

# Inserindo dados
cursor.execute("INSERT INTO usuarios (nome, idade) VALUES (?, ?)", ("João", 30))

# Salvando as alterações
conn.commit()

# Consultando dados
cursor.execute("SELECT * FROM usuarios")
print(cursor.fetchall())

# Fechando a conexão
conn.close()

[(1, 'João', 30)]

In [3]:
import sqlite3

# Conectando-se ao banco de dados (será criado se não existir)
conn = sqlite3.connect('databases/escola.db')

# Criando um cursor para executar comandos SQL
cursor = conn.cursor()

# Criando uma tabela
cursor.execute('''CREATE TABLE IF NOT EXISTS alunos (
                    id INTEGER PRIMARY KEY,
                    nome TEXT,
                    idade INTEGER
                )''')

# Inserindo dados
cursor.execute("INSERT INTO alunos (nome, idade) VALUES (?, ?)", ("João", 13))
cursor.execute("INSERT INTO alunos (nome, idade) VALUES (?, ?)", ("Maria", 11))

# Salvando as alterações
conn.commit()

# Consultando dados
cursor.execute("SELECT * FROM alunos")
for row in cursor.fetchall():
    print(row)

# Fechando a conexão
conn.close()

(1, 'João', 13)
(2, 'Maria', 11)

### SQLAlchemy

In [5]:
# Instala o pacote do SQLAlchemy

# Retire o comentário para instalar o pacote
# !pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/igor/.local/lib/python3.10/site-packages (2.0.27)
Requirement already satisfied: greenlet!=0.4.17 in /home/igor/.local/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/igor/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: /usr/bin/python3 -m pip install --upgrade pip

In [6]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Criando uma engine para conectar ao banco de dados SQLite
engine = create_engine('sqlite:///databases/teste.db', echo=True)

# Definindo uma classe de modelo
Base = declarative_base()

class Usuario(Base):
    __tablename__ = 'usuarios'
    id = Column(Integer, primary_key=True)
    nome = Column(String)
    idade = Column(Integer)

# Criando as tabelas no banco de dados
Base.metadata.create_all(engine)

# Criando uma sessão
Session = sessionmaker(bind=engine)
session = Session()

# Inserindo dados
usuario = Usuario(nome='Maria', idade=25)
session.add(usuario)
session.commit()

# Consultando dados
usuarios = session.query(Usuario).all()
for usuario in usuarios:
    print(usuario.nome, usuario.idade)

# Fechando a sessão
session.close()

2024-02-14 11:33:18,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-14 11:33:18,976 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuarios")
2024-02-14 11:33:18,977 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-14 11:33:18,978 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usuarios")
2024-02-14 11:33:18,979 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-14 11:33:18,980 INFO sqlalchemy.engine.Engine
CREATE TABLE usuarios (
	id INTEGER NOT NULL,
	nome VARCHAR,
	idade INTEGER,
	PRIMARY KEY (id)
)


2024-02-14 11:33:18,980 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()

/tmp/ipykernel_1678437/2386527590.py:9: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

2024-02-14 11:33:19,368 INFO sqlalchemy.engine.Engine COMMIT
2024-02-14 11:33:19,376 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-14 11:33:19,378 INFO sqlalchemy.engine.Engine INSERT INTO usuarios (nome, idade) VALUES (?, ?)
2024-02-14 11:33:19,379 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ('Maria', 25)
2024-02-14 11:33:19,382 INFO sqlalchemy.engine.Engine COMMIT
2024-02-14 11:33:19,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-14 11:33:19,704 INFO sqlalchemy.engine.Engine SELECT usuarios.id AS usuarios_id, usuarios.nome AS usuarios_nome, usuarios.idade AS usuarios_idade
FROM usuarios
2024-02-14 11:33:19,705 INFO sqlalchemy.engine.Engine [generated in 0.00079s] ()
Maria 25
2024-02-14 11:33:19,706 INFO sqlalchemy.engine.Engine ROLLBACK

### Criando um banco de dados

In [7]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("databases/produtos.db") if os.path.exists("databases/produtos.db") else None

In [8]:
import sqlite3
 
# Criando uma conexão com o banco
conn = sqlite3.connect('databases/produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2020-05-02 14:32:11', 'Teclado', 90 )")
    conn.commit()
    c.close()
    conn.close()

In [9]:
# Criar tabela
create_table()

In [10]:
# Inserir dados
data_insert()

### Inserindo Dados

In [11]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('databases/produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2020-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Mouse'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

In [12]:
# Gerando valores e inserindo na tabela
for i in range(5):
    data_insert_var()
    time.sleep(1)

In [13]:
# Encerrando a conexão
c.close()
conn.close()

### Leitura dos dados

In [14]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('databases/produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2024', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'mouse'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura dos dados da tabela
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos na tabela
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 80.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicas
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])

In [15]:
# Selecionar os dados
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2024-02-14 11:34:28.159028', 'Mouse', 89.0)
(12, '2024-02-14 11:34:29.525592', 'Mouse', 97.0)
(13, '2024-02-14 11:34:30.878059', 'Mouse', 58.0)
(14, '2024-02-14 11:34:32.229696', 'Mouse', 98.0)
(15, '2024-02-14 11:34:33.590812', 'Mouse', 89.0)

In [16]:
# Leitura de registros específicos apenas com valores superiores a 80
leitura_registros()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2024-02-14 11:34:28.159028', 'Mouse', 89.0)
(12, '2024-02-14 11:34:29.525592', 'Mouse', 97.0)
(14, '2024-02-14 11:34:32.229696', 'Mouse', 98.0)
(15, '2024-02-14 11:34:33.590812', 'Mouse', 89.0)

In [17]:
# Leitura de colunas específicas. Seleciona a coluna dos valores
leitura_colunas()

90.0
89.0
97.0
58.0
98.0
89.0

### Update e Delete

In [19]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('databases/produtos.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2024', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE prod_name = 'Teclado'")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 89.0")
    conn.commit()

In [20]:
atualiza_dados()

In [21]:
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 70.0)
(11, '2024-02-14 11:34:28.159028', 'Mouse', 89.0)
(12, '2024-02-14 11:34:29.525592', 'Mouse', 97.0)
(13, '2024-02-14 11:34:30.878059', 'Mouse', 58.0)
(14, '2024-02-14 11:34:32.229696', 'Mouse', 98.0)
(15, '2024-02-14 11:34:33.590812', 'Mouse', 89.0)

In [22]:
# Excluir dados
remove_dados()

In [23]:
# Nova leitura dos dados após exclusão
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 70.0)
(12, '2024-02-14 11:34:29.525592', 'Mouse', 97.0)
(13, '2024-02-14 11:34:30.878059', 'Mouse', 58.0)
(14, '2024-02-14 11:34:32.229696', 'Mouse', 98.0)

## Fim